* {
  font-family: cursive;
}
.container-fluid {
  background-color: pink;
  height: 100vh;
}
.author {
  color: palevioletred;
}
.title {
  font-size: 150%;
  transition: transform 0.1s linear;
  color: rgb(224, 64, 118);
  z-index: 2;
}
.title:hover {
  cursor: pointer;
}

.heart-container {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 0;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: rgb(247, 131, 170);
}

.heart::before,
.heart::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: rgba(247, 131, 170);
  border-radius: 100%;
  position: absolute;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50px;
}

/* page-two */
.page-two {
  display: none;
  z-index: 10;
}
.text {
  font-size: larger;
}
.text-sorry-2 {
  animation-delay: 6s;
  font-size: large;
}
.text-sorry-3 {
  animation-delay: 8s;
}
.text-sorry-4 {
  animation-delay: 10s;
}
.wrapper-button {
  animation-delay: 12s;
}

/* page-three */
.page-three {
  display: none;
}
.text-watch,
.label-page-six,
.item__text-page-five,
.item__text-page-seven,
.text-hightlight-page-eight,.link-fb {
  color: rgb(242, 40, 242);
}
.continue-button {
  animation-delay: 30s;
  color: rgb(242, 40, 242);
  background-color: rgb(233, 183, 233);
}
.video {
  width: 35%;
  border: 2px solid plum;
}

/* page-four */
.page-four {
  display: none;
}
.continue-five {
  animation-delay: 15s;
}

/* page-five */
.page-five {
  display: none;
}
.item__text-page-five:nth-child(2) {
  animation-delay: 6s;
}
.item__text-page-five:nth-child(3) {
  animation-delay: 8s;
}
.item__text-page-five:nth-child(4) {
  animation-delay: 10s;
}
.item__text-page-five:nth-child(5) {
  animation-delay: 12s;
}
.item__text-page-five:nth-child(6) {
  animation-delay: 14s;
}
.continue-six {
  animation-delay: 15s;
}

/* page-six */
.page-six {
  display: none;
}
.note-bae {
  background-color: rgb(243, 235, 246);
}
.continue-seven {
  animation-delay: 15s;
}

/* page-seven */
.page-seven {
  display: none;
  z-index: 100;
}
.item__text-page-seven {
  animation-delay: 6s;
}
.continue-eight {
  animation-delay: 8s;
}

/* page-eight */
.page-eight {
  display: none;
}
.item__icon-page-eight,
.text-hightlight-page-eight {
  animation-iteration-count: infinite;
}
.word:nth-child(6) {
  animation-delay: 6s;
}
.word:nth-child(7) {
  animation-delay: 7s;
}
.word:nth-child(8) {
  animation-delay: 8s;
}
.word:nth-child(9) {
  animation-delay: 9s;
}
.word:nth-child(10) {
  animation-delay: 10s;
}
.word:nth-child(11) {
  animation-delay: 11s;
}
.word:nth-child(12) {
  animation-delay: 12s;
}
.word:nth-child(13) {
  animation-delay: 13s;
}
.word:nth-child(14) {
  animation-delay: 14s;
}
.word:nth-child(15) {
  animation-delay: 15s;
}

.item__text-end:nth-child(1){
  animation-delay: 17s;
}
.item__text-end:nth-child(2){
  animation-delay: 18s;
}
.item__text-end:nth-child(3){
  animation-delay: 19s;
}
.item__text-end:nth-child(4){
  animation-delay: 20s;
}
.item__text-end:nth-child(5){
  animation-delay: 21s;
}
.item__text-end:nth-child(6){
  animation-delay: 22s;
}
.item__text-end:nth-child(7){
  animation-delay: 23s;
}
.item__text-end:nth-child(8){
  animation-delay: 24s;
}
.item__text-end:nth-child(9){
  animation-delay: 25s;
}
.item__text-end:nth-child(10){
  animation-delay: 26s;
}
.item__text-end:nth-child(11){
  animation-delay: 27s;
}
.item__text-end:nth-child(12){
  animation-delay: 28s;
}
.item__text-end:nth-child(13){
  animation-delay: 29s;
}
.item__text-end:nth-child(14){
  animation-delay: 30s;
}
.item__text-end:nth-child(15){
  animation-delay: 31s;
}
.item__text-end:nth-child(16){
  animation-delay: 32s;
}

.item__text-end-two:nth-child(1){
  animation-delay: 35s;
}
.item__text-end-two:nth-child(2){
  animation-delay: 36s;
}
.item__text-end-two:nth-child(3){
  animation-delay: 37s;
}
.item__text-end-two:nth-child(4){
  animation-delay: 38s;
}
.item__text-end-two:nth-child(5){
  animation-delay: 39s;
}
.item__text-end-two:nth-child(6){
  animation-delay: 40s;
}
.item__text-end-two:nth-child(7){
  animation-delay: 41s;
}
.item__text-end-two:nth-child(8){
  animation-delay: 42s;
}
.item__text-end-two:nth-child(9){
  animation-delay: 43s;
}
.item__text-end-two:nth-child(10){
  animation-delay: 44s;
}
.item__text-end-two:nth-child(11){
  animation-delay: 45s;
}
.item__text-end-two:nth-child(12){
  animation-delay: 46s;
}
.item__text-end-two:nth-child(13){
  animation-delay: 47s;
}
.item__text-end-two:nth-child(14){
  animation-delay: 48s;
}
.item__text-end-two:nth-child(15){
  animation-delay: 49s;
}

.button-end{
  z-index: 10;
  animation-delay: 50s;
}